{
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "tabWidth": 2,
    "jsxSingleQuote": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^\"use client\";",
        "<THIRD_PARTY_MODULES>",
        "^@/components/ui/(.*)$",
        "^[./]",
        "^@/(.*)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}